 body{
        font-family:verdana, sans-serif;
        margin:0;
        padding:0;
        height:100%;
        width:100%;
        background-color:#FAF3E0;
      }

      
     header{
      color: lightgreen;
      font-weight:bold;
      display:flex;
      align-items:center;
      justify-content: space-between;
      background-color:green;
      padding:0 2rem;
     }
     
     ul{
      display:flex;
      gap:2.5rem;
      list-style-type: none;
     }
     li:hover{
      text-decoration: underline;
      cursor:pointer;
     }

     .main{
      display:flex;
      align-items:center;
      justify-content:center;
      height:60vh;
      width:60vw;
      margin:2rem auto;
     }

    .inside{
      display:flex; 
      align-items:center;
      justify-content:center;
      height:80%;
      width:80%;
      overflow:hidden;
    }

    .center{
      display:flex;
      flex-direction:column;
      gap:2rem;
    }

    .top{
      display:flex;
      align-items:center;
      justify-content:space-around;
    }

    .profile{
      width:150px;
      height:150px;
      border-radius:50%;
    }

    .side > h1{
      color:lawngreen;
      font-size:39px;
      padding:0;
      margin:0;
    }

    .side > h2{
      font-size:29px;
      padding:0;
      margin:16px 0;
    }

    .contacts{
      display:flex;
      align-items:center;
      justify-content:center;
      margin-top:40px;
      gap:10px;
    }

    .icon{
      height:40px;
      width:40px;
    }

    footer{
      background-color: green;
      position:fixed;
      bottom: 5px;
      left:0;
      right:0;
      height:40px;
    }

    footer > div{
      text-align:center;
      padding-top:10px;
      color: lightgreen;
    }